build/*
bin/*
*.d
*.T
*.o
*.gch
*~
*.pyc
external
thrift/src
*.filemap
*.rcc.cpp
*.moc.cpp
symbols
crashes
/test
common/include/**/*.gcno
common/src/**/*.gcno
desktop/**/*.gcno
TAGS
.#*
#*
*.swp
omni.play.pro.user
/*.config
/*.creator
/*.creator.user
/*.includes
/*.files
