/* PAGE CONTENTS */

.page_contents_container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.page_contents {
	width: 100%;
	height: 100%;
}

.left_contents {
	float: left;
/*	width: 680px;
	padding-right: 20px;*/
}

.right_contents {
	float: right;
/*	width: 300px;
	min-height: 400px;*/
}